body {
	max-width: 1000px;
	font-family: sans-serif;
    margin: 0 auto;
}

#content {
	width: 1000px;
    height: 550px;
    overflow: hidden;
    margin: 0 auto;
}

.slide {
	width: 1000px;
	height: 500px;
	overflow: hidden;
    margin: 0 auto;
}

button {
    background-color: (191,191,191);
	width: 44px;
	height: 44px;
    font-size: 12pt;
}

#prev {
margin-left: 69.2%;
}


